<%= form_for(@standalone_resource) do |f| %>
  <% if @standalone_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standalone_resource.errors.count, "error") %> prohibited this standalone_resource from being saved:</h2>

      <ul>
      <% @standalone_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
