<h1>Listing standalone_resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standalone_resources.each do |standalone_resource| %>
  <tr>
    <td><%= standalone_resource.name %></td>
    <td><%= standalone_resource.description %></td>
    <td><%= link_to 'Show', standalone_resource %></td>
    <td><%= link_to 'Edit', edit_standalone_resource_path(standalone_resource) if check_privilege(Alberich::Privilege::MODIFY, standalone_resource)%></td>
    <td><%= link_to 'Destroy', standalone_resource, method: :delete, data: { confirm: 'Are you sure?' } if check_privilege(Alberich::Privilege::MODIFY, standalone_resource)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standalone resource', new_standalone_resource_path if check_privilege(Alberich::Privilege::CREATE, StandaloneResource)%>
