- content_for :permissions_form_header do
  %span{:id => ("tab-container-1-nav" unless @inline)}
    - if @show_inherited
      %li= link_to "Direct Access", params.merge(:show_inherited => false, :page => 1), { :class => 'button primary', :id => 'direct_permission_button'}
    - else
      %li= link_to "Inherited Access", params.merge(:show_inherited => true, :page => 1), { :class => 'button primary', :id => 'inherited_permission_button'}

= form_tag do
  %div.controls
    %ul.actions
      = yield :permissions_form_header
  %table.flat.checkbox_table{ 'data-none_selected' => "Please make a selection first.", 'data-confirm' => "Are you sure?" }
    %thead
      %tr
        - @permission_list_header.each do |column|
          - if column[:name] == 'checkbox'
            - # checkboxes ignored for engine UI
          -else
            %th{:class => column[:class]}= column[:name]
      - if !@permissions.any?
        %tr
          %td{:colspan => columns.size}= "No matching results"
    - @permissions.each do |permission|
      %tr{:class => cycle('nostripe','stripe')}
        - if permission.permission_object.class == Alberich::BasePermissionObject
          %td Global
          %td
        - else
          %td= permission_object_type
          %td= link_to permission.permission_object.name, permission.permission_object
        %td= t(permission.role.name, :scope=> :role_defs, :default => permission.role.name)
        - if not(@show_inherited) && check_privilege(Alberich::Privilege::PERM_SET)
          %td= link_to 'Destroy', alberich.permission_path(permission), method: :delete, data: { confirm: 'Are you sure?' }
        - if @show_inherited
          - if permission.permission.permission_object.class == Alberich::BasePermissionObject
            %td= t'permissions.global'
          - else
            %td= link_to permission.permission.permission_object.name, permission.permission.permission_object
