.field
  = form.label :name, :class => 'em'
  .input
    = form.text_field :name, :class => "em long"
.field
  = form.label :description, :class => 'em'
  .input
    = form.text_field :description, :class => "em long"
= form.submit
