%h1 Users

%table
  %tr
    %th username
    %th last name
    %th first name
    %th email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %th= user.username
      %th= user.last_name
      %th= user.first_name
      %th= user.email
      %th= link_to 'Show', user
      %th= link_to 'Edit', edit_user_path(user)
      %th= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path

