<h1>Listing global_resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @global_resources.each do |global_resource| %>
  <tr>
    <td><%= global_resource.name %></td>
    <td><%= global_resource.description %></td>
    <td><%= link_to 'Show', global_resource %></td>
    <td><%= link_to 'Edit', edit_global_resource_path(global_resource) %></td>
    <td><%= link_to 'Destroy', global_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Global resource', new_global_resource_path %>
